source/db-*/package/data filter=lfs diff=lfs merge=lfs -text
source/db-*/package/data.sql filter=lfs diff=lfs merge=lfs -text
source/db-*/**/data_large*.sql filter=lfs diff=lfs merge=lfs -text
source/db-*/**/data.sql filter=lfs diff=lfs merge=lfs -text
